@font-face {
    font-family: 'SFProText';
    src: url('./assets/fonts/SFProText-Regular.ttf');
}

@font-face {
    font-family: 'Bungee';
    src: url('./assets/fonts/Bungee-Regular.ttf');
}

*{
    font-family: 'SFProText';
}

body
{
    margin: 0;
    /* background: url('./assets/images/bodyBackground.png'); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#canvasContainer
{
    position: 'relative';
    align-items: 'center';
    justify-content: 'center';
    /* align-self: center; */
    height: '100vh';
    display: 'flex';
}

#backDrop
{
    z-index: 2;
    background: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    opacity: 0;
}

#box
{
    background: #ffffff;
    /* top: 20vh; */
    bottom: 0;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100vw;
    /* height: 80vh; */
    z-index: 3;
    transform: translateY(120%);
}

#boxContent
{
    position: relative;
    display: block;
    width: 100%;
    /* height: 100%; */
}

#loadingIcon{
    display: flex;
    margin: auto;
}
.gegga {
    width: 0;
}
.snurra {
    filter: url(#gegga);
}
.stopp1 {
    stop-color: #f700a8;
}
.stopp2 {
    stop-color: #ff8000;
}
.halvan {
    animation: Snurra1 10s infinite linear;
    stroke-dasharray: 180 800;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
}
.strecken {
    animation: Snurra1 3s infinite linear;
    stroke-dasharray: 26 54;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
}
.skugga {
    filter: blur(5px);
    opacity: 0.3;
    position: absolute;
    transform: translate(3px, 3px);
}
@keyframes Snurra1 {
    0% {
    stroke-dashoffset: 0;
    }
    100% {
    stroke-dashoffset: -403px;
    }
}

#gameImgContainer
{
    display: inline-block;
    background: #d4d4d4 url('./assets/images/game_image.png') no-repeat center;
    background-size: 80%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    border-radius: 100px;
}

#closeBtn
{
    background: transparent url('./assets/images/close_button.png') no-repeat center;
    position: absolute;
    top: 3%;
    background-size: 100%;
    display: inline-block;
    transform: rotateX(45deg);
}

.baseButton
{
    background-color: #6aba2e;
    border-radius: 20px;
    height: 100px;
    font-size: 2.5em;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 
        0 0 0 #000000,
        0 0 0 #000000,
        0 5px 0 #000000,
        0 0 0 #000000;
}

.checkbox {
    display: block;
    margin-bottom: 15px;
}

.checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.checkbox label {
    position: relative;
    cursor: pointer;
    display: flex;
    right: 15%;
}

.checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: #52c41a;
    border: 2px solid white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 22.5px 25px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 20px;
    left: 100%;
    border-radius: 5px;
}

.checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    left: 117%;
    width: 10px;
    height: 30px;
    border: solid white;
    border-width: 0 5px 5px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.grid
{
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-column-gap: 10px;
    position: relative;
    margin: auto;
}

#contentFirstPlay
{
    /* height: 70%; */
    width: 100%;
    text-align: center;
    /* position: absolute; */
    left: 50%;
    margin-top: 15%;
    /* bottom: 10%; */
    /* transform: translate(-50%); */
}

#contentFirstPlay .title
{
    font-size: 7em;
    margin: 0;
    font-family: SFProText;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff8c0f;
    /* background: transparent url('./assets/images/game_name.png') no-repeat center; */
    text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px, rgba(0, 0, 0, 0.25) 0 8.838247px 0px;
}
#contentFirstPlay .desc
{
    font-size: 2.5em;
}

.itemReward
{
    background-color: transparent;
    /* background-image: url('./assets//images/reward_icon_template.png'); */
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    padding: 2%;
}

.itemReward:nth-child(1), .itemReward:nth-child(2)
{
    background-image: url('./assets/images/icon_reward_bag.png');
}

.itemReward:nth-child(3)
{
    background-image: url('./assets/images/icon_reward_case.png');
}

.rewardQuantity
{
    white-space: nowrap;
    padding: 5%;
    color: #ff8c0f;
    position: relative;
    top: 0;
    left: 40%;
    font-size: 1.7em;
    background-color: transparent;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px, rgba(0, 0, 0, 0.25) 0 0.35vh 0px;
}

.rewardDesc
{
    /* display: grid; */
    display: inline-block;
    top: 100%;
    position: relative;
    width: 100%;
}

.rewardDesc span
{
    font-size: 1.6em;
    white-space: nowrap;
}

.rewardDesc .rewardCaption
{
    font-size: 1.9em;
    font-weight: bold;
}

#scoreBoard
{
    margin-top: 15%;
}

#boardSelectContainer
{
    position: relative;
    display: flex;
    width: 60%;
    margin: auto;
    background: #52c41a;
    border-radius: 20px;
}

#boardSelectContainer button
{
    outline: none;
    background: none;
    text-transform: uppercase;
}

#boardSelectContainer .backgroundTransition
{
    position: absolute;
    background-color: white;
    top: 5%;
    left: 1%;
    width: 49%;
    height: 90%;
    transition: transform 0.25s ease-out;
    border-radius: 20px;
    /* transform: translateX(100%); */
}

#onlyFriendContainer
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#scoreItemContainer
{
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
    max-height: 40vh;
    overflow-y: scroll;
    transition: all 1s ease-in-out;
}

#scoreItemContainer .scoreItem:nth-child(1) .rank .rankImg,
#prizeReward .profileCard:nth-child(1) .rankImg
{
    background: transparent url('./assets/images/first_rank.png') no-repeat center;
}

#scoreItemContainer .scoreItem:nth-child(2) .rank .rankImg,
#prizeReward .profileCard:nth-child(2) .rankImg
{
    background: transparent url('./assets/images/second_rank.png') no-repeat center;
}

#scoreItemContainer .scoreItem:nth-child(3) .rank .rankImg,
#prizeReward .profileCard:nth-child(3) .rankImg
{
    background: transparent url('./assets/images/third_rank.png') no-repeat center;
}

#scoreItemContainer .scoreItem .rank .rankImg,
#currentProfile .rankImg,
#prizeReward .profileCard .rankImg
{
    width: 75px;
    height: 75px;
    background-size: 100% !important;
}

.profileContainer
{
    display: flex;
}

.profileContainer .profileImg
{
    background: transparent url('./assets/images/avatarImg.png') no-repeat center;
    background-size: 100%;
    width: 75px;
    height: 75px;
    margin: 0 15px;
}

.profileContainer .profileName
{
    font-size: 2.5em;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#scoreItemContainer .scoreItem
{
    margin: 20px 0;
}

#currentProfile
{
    display: flex;
    height: 8vh;
    min-height: 170px;
}

#scoreItemContainer .profilePoint,
#currentProfile .profilePoint
{
    color:black;
    font-size: 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-weight: bold; */
    /*Inline stroke*/
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; */
    /*Outline stroke*/
    /* text-shadow:
    -1px -1px 0 white,  
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white; */
}

#currentProfile .rankImgText
{
    background-color: #52c41a;
    color: white;
}

.rankImgText
{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2.5em;
    font-weight: bold;
    height: 100%;
    width: 75px;
    background-color: #f2f4f7;
    border-radius: 100px;
}

#currentProfile
{
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #f6ffed;
}

#prizeReward
{
    margin-top: 15%;
    text-align: center;
}

#checkDetail
{
    text-align: right;
    background: transparent;
    border: none;
    color: #2F80ED;
    font-size: 1.8em;
    white-space: nowrap;
    padding-right: 10%;
    font-weight: bold;
}

#checkDetail:focus
{
    border: none;
}

#finalPoint
{
    font-family: 'Bungee';
}

.profileCard
{ 
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    background: #f9f9fa;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
}

.profileCard .rankImg
{
    margin: auto;
}
.profileCard .img
{
    margin: auto;
    background: transparent url('./assets/images/avatarImg.png') no-repeat center;
    background-size: 100%;
    width: 110px;
    height: 110px;
}

.profileCard .profileName
{
    font-size: 1.7em;
    align-self: center;
    font-weight: bold;
}

.profileCard .profilePoint
{
    font-size: 2.2em;
    font-weight: bold;
    color: #EB5757;
    font-family: 'Bungee';
    /* text-shadow:
    -1px -1px 0 white,  
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white; */
}

.slideUp
{
    transform: translateY(0) !important;
}

.fadeIn
{
    opacity: 0.75 !important;
}

@media (orientation: landscape) {
    #gameImgContainer {
        width: 100px;
        height: 100px;
    }
    #closeBtn
    {
        width: 50px;
        height: 50px;
        right: 3%;
    }
}
  
@media (orientation: portrait) {
    #gameImgContainer {
        width: 200px;
        height: 200px;
    }
    #closeBtn
    {
        width: 100px;
        height: 100px;
        right: 5%;
    }
    .itemReward
    {
        width: 130px;
        height: 130px;
    }
}